// set up a simple neutral simulation
initialize() {
    defineConstant("outDir","[Specify your output directory]");
	defineConstant("N", 10000); //sample size
	defineConstant("simID", getSeed());
	defineConstant("seedID", getSeed());
	initializeMutationRate(2.5e-8);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 9999);
	initializeRecombinationRate(2.5e-8);
}
1 { sim.addSubpop("p1", N); }
100000 late() {
	target = sample(p1.genomes, 1);
	sim.addSubpopSplit("p2", N, p1);
	sim.addSubpopSplit("p3", N, p1);
}
350000 late() {
	genome2 = p2.sampleIndividuals(100).genomes;
	genome2.outputVCF(filePath= outDir+"Human_slim_" + simID + ".txt",simplifyNucleotides=T);
	genome3 = p3.sampleIndividuals(1).genomes;
	genome3.outputVCF(filePath=outDir+"Chimp_slim_" + simID + ".txt",simplifyNucleotides=T);
}
